<!-- navbar.html -->
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex items-center justify-between flex-wrap">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Amazon Clone</span>
        </div>
        <div class="block lg:hidden">
            <button class="text-white focus:outline-none">
                <!-- Insert icon for mobile menu here -->
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-stone-50 hover:text-red-300 mr-4">
                    Home
                </a>
                <a href="/reviews" class="block mt-4 lg:inline-block lg:mt-0 text-stone-50 hover:text-red-300 mr-4">
                    All Reviews
                </a>
                <a href="/negative_reviews" class="block mt-4 lg:inline-block lg:mt-0 text-stone-50 hover:text-red-300 mr-4">
                    Negative Reviews
                </a>
                <a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-stone-50 hover:text-red-300">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>
